$primary: #1da0f2;
$primary-dark-light: #192734;

$primary-grey: #888;
$primary-light: #99c9ff;
$primary-dark: #1b1b32;
$primary-dark-2: #0a0a23;
$primary-green: #00471b;
$primary-orange: #ff6600;
$primary-red: #ac0246;
$primary-yellow: #ebb000;
$primary-violet: #5956a8;
$primary-violet-dark: #5a01a7;
$white: white;

$font-primary: $primary;
$font-light: #fff;
$font-grey: $primary-grey;
$font-dark: #000;

$border-primary: $primary;
$border-light: #fff;
$border-grey: #38444d;
$border-dark: $primary-dark;

$background-light: #fff;
$background-grey-dark: $primary-dark;
$background-dark-light: $primary-dark-light;

$danger: #e0245e;